/* Fonts */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.banner-container {
    width: 1200px;
    height: 67vh;
    display: flex;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 25px 35px;
    padding: 30px;

}

.banner-img {
    text-align: justify;
}

.title-1 {
    font-size: 45px;
    font-weight: bold;
}

.watch-btn {

    background-color: red;
    color: white;
    margin: 1px solid red;
    padding: 10px 15px;
    border-radius: 5px;
}

/* ---------section2 
 ---------------------------*/
.info-container {
    display: flex;
    width: 1200px;
    margin: 25px 35px;
    padding: 30px;
}

.left-info {
    width: 170px;
    height: 25vh;
    background-color: black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.match-info {

    display: flex;
    flex-direction: column;
    color: white;


}

button {
    width: 150px;
    height: 35px;
    font-weight: bold;
    border-radius: 7px;
    margin: 5px 10px;
    padding: 5px;
}

button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#blog1 {
    background-color: red;
    color: white;
}

/* ----------section2 right part 
--------------------------------------- */


.right-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    margin-top: 10px;


}

.live-details {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
}

.live-info {
    padding: 10px;
}

.blog-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.team-img {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;

}




/* footer  */
.footer-container {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;


}


hr {
    width: 70%;
}

.footer {
    background-color: black;
    font-size: 17px;
}

.footer ul {
    display: flex;
    color: white;
    justify-content: center;
    grid-column-gap: 30px;
    margin-top: 15px;
}

.footer li {
    list-style-type: none;
    color: white;
}

.footer li a {
    text-decoration: none;
    color: white;
    font-weight: 17px;
}

p {
    font-size: 16px;

}

.fnmae {
    text-decoration: none;
    color: rgb(223, 119, 192);
}

@media only screen and (max-width: 992px) {
    .banner-container {
        width: 992px;
        height: 70vh;
        display: flex;
        background-color: black;
        color: white;
        border-radius: 20px;
        padding: 30px;

    }

    .banner-left {
        height: 38vh;
    }

    .banner-img {
        height: 38vh;
    }

    .info-container {
        flex-direction: column;
    }

    .left-info {
        width: 100%;
        height: 20px;
        background-color: white;
    }

    .match-info {
        display: flex;
        flex-direction: row;

    }

    button {
        width: 300px;
        height: 35px;
        font-weight: bold;
        border-radius: 7px;
        margin: 5px 10px;
        padding: 5px;
    }

    .right-info {
        grid-template-columns: repeat(2, 1fr);
        width: 992px;
    }

    .live-details {
        width: 450px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-bottom: 15px;

    }

    .team-img {
        justify-content: space-between;

    }


}

@media only screen and (max-width: 600px) {
    .banner-container {
        width: 100%;
        height: 108vh;
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        border-radius: 15px;
        margin: 15px 25px;
        padding: 15px;

    }

    .banner-left {
        width: 100%;
    }

    .banner-img {
        height: 35vh;
    }

    .info-container {
        flex-direction: column;
    }

    .match-info {
        display: flex;
        flex-direction: column;

    }

    .left-info {
        width: 100%;
        height: 100px;
        background-color: white;
        margin-bottom: 20px;
    }


    .right-info {
        grid-template-columns: repeat(1, 1fr);
        width: 350px;


    }

    .footer-container {
        background-color: black;
        width: 100%;

    }

    .footer ul {
        display: flex;
        color: white;
        flex-direction: column;

    }


}