/* Fonts */
body {
    margin: 0;
    width: 100%;
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.banner-container {
    width: 1200px;
    height: 71vh;
    display: flex;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 25px 35px;
    padding: 30px;



}

.banner-img {
    text-align: justify;
}

.title-1 {
    font-size: 45px;
    font-weight: bold;
}

.watch-btn {

    background-color: red;
    color: white;
    margin: 1px solid red;
    padding: 10px 15px;
    border-radius: 5px;
}

/* ---------section2 
 ---------------------------*/
.info-container {
    display: flex;
    width: 1200px;
    margin: 25px 35px;
    padding: 30px;
}

.left-info {
    width: 300px;
    height: 25vh;
    background-color: black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.match-info {

    display: flex;
    flex-direction: column;
    color: white;


}

button {
    width: 150px;
    height: 35px;
    font-weight: bold;
    border-radius: 7px;
    margin: 5px 10px;
    padding: 5px;
}

#blog1 {
    background-color: red;
    color: white;
}

/* ----------section2 right part 
--------------------------------------- */


.right-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    margin-top: 15px;

}

.blog-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.live-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.live-details .team-image img {
    width: 300px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.duration {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

/* footer  */
.footer-container {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;


}

hr {
    width: 50%;
}



ul {
    display: flex;
    color: white;
    justify-content: center;
    grid-column-gap: 30px;
    margin-top: 15px;
}

.footer ul li a {
    text-decoration: none;
}

.footer p {
    font-size: 16px;
    text-align: center;
    color: rgb(247, 233, 233);
}